﻿@model LearnerProject.Models.Entities.Student
@{
    ViewBag.Title = "UpdateStudent";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h3>Ogrenci Guncelle</h3>

<form method="post">

    @Html.HiddenFor(x => x.StudentId)
    <label>Isim Soyisim</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Kullanici Adi</label>
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    <label>Sifre</label>
    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-primary"><i class="fa fa-edit"></i>Guncelle</button>
</form>