@model List<LearnerProject.Models.Entities.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h3>Kategoriler</h3>
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Kategori Adi</th>
        <th>Durum</th>
        <th>Aktif</th>
        <th>Pafif</th>
        <th>Sil</th>
        <th>Guncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.CategoryName</td>
            <td>@( item.Status == true ? "AKTIF" : "PASIF" )</td>
            <td style="width:7%"><a href="/AdminCategory/MakeActive/@item.CategoryId/" class="btn btn-outline-success">Aktif Yap</a></td>
            <td style="width:7%"><a href="/AdminCategory/MakePassive/@item.CategoryId/" class="btn btn-outline-warning">Pasif Yap</a></td>
            <td style="width:5%"><a href="/AdminCategory/DeleteCategory/@item.CategoryId" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Sil</a></td>
            <td style="width:8%"><a href="/AdminCategory/UpdateCategory/@item.CategoryId" class="btn btn-outline-info"><i class="fa fa-pen"></i> Guncelle</a></td>

        </tr>
    }
</table>
<br />
<a href="/AdminCategory/AddCategory" class="btn btn-outline-success"><i class="fa fa-plus m-2"></i>Yeni Kategori Ekle</a>
