﻿@model List<LearnerProject.Models.Entities.CourseRegister>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h3>Kurs Kayitlari</h3>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Ogrenci Adi</th>
            <th>Kurs Adi</th>
            <th>Islemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td>@item.Student.UserName</td>
                <td>@item.Course.CourseName</td>

                <td>
                    <a href="/CourseRegister/DeleteCourseRegister/@item.CourseRegisterId" class="btn btn-outline-danger"><i class="fa fa-trash"></i>Sil</a>
                    <a href="/CourseRegister/UpdateCourseRegister/@item.CourseRegisterId" class="btn btn-outline-info"> <i class="fa fa-edit"></i>Guncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/CourseRegister/AddCourseRegister/" class="btn btn-outline-success"><i class="fa fa-plus m-2"></i>Kurs Kaydi Ekle</a>