@model List<LearnerProject.Models.Entities.CourseRegister>

@{
    ViewBag.Title = "RegisteredStudentList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<br />
<h4>Kategoriler</h4>
<br />

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Ogrenci Adi</th>
        <th>Kurs Adi</th>
        <th>Sil</th>
        <th>Guncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Student.NameSurname</td>
            <td>@item.Course.CourseName</td>
            <td><a href="/AdminCourseRegister/DeleteCourseRegister/@item.CourseRegisterId" class="btn btn-outline-danger"><i class="fa fa-trash"> Sil</i></a></td>
            <td><a href="/AdminCourseRegister/UpdateCourseRegister/@item.CourseRegisterId" class="btn btn-outline-info"><i class="fa fa-pen"></i> Guncelle</a></td>
        </tr>
    }
</table>

<a href="/AdminCourseRegister/AddCourseRegister" class="btn btn-outline-success"><i class="fa fa-plus"></i> Yeni Kurs Kaydi</a>