@model LearnerProject.Models.Entities.Contact
@{
    ViewBag.Title = "AddContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Iletisim Bilgisi Ekleme Sayfasi</h2>

<form method="post">
    <label>Adres</label>
    @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
    <br />
    <label> Calisma Saatleri </label>
    @Html.TextBoxFor(x => x.OpenHours, new { @class = "form-control" })
    <br />
    <label>Email </label>
    @Html.TextAreaFor(x => x.Email, 5, 1, new { @class = "form-control" })
    <br />
    <label>Telefon </label>
    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    <br />
   
    <button class="btn btn-outline-primary"><i class="fa fa-save"> </i>Kaydet</button>
</form>
